{
  "tabWidth": 2,
  "useTabs": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "overrides": [
		{
			"files": ["*.html"],
			"options": {
				"parser": "angular"
			}
		}
	]
}
