<my-take-dashboard-search></my-take-dashboard-search>
<h2>Quick Picks</h2>
<div class="row">
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
</div>
<h2>Most Visited</h2>
<div class="row">
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
</div>
<h2>Highest Rated</h2>
<div class="row">
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
</div>
