<my-take-dashboard-search></my-take-dashboard-search>
<h1>Quick Picks</h1>
<div class="row">
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
</div>
<h1>Most Visited</h1>
<div class="row">
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
</div>
<h1>Highest Rated</h1>
<div class="row">
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
	<div class="col-sm-3">
		<my-take-take-card></my-take-take-card>
	</div>
</div>
