.search-container {
	padding: 200px 20% 50px 20%;
	border-radius: 4px;
	background-image: url('/assets/images/food-banner.png');
	background-size: cover;
	margin-bottom: 50px;
}

.form-container {
	padding: 10px;
	background-color: rgba($color: #000, $alpha: 0.6);
	border-radius: 4px;
}
